{literal}
<script language="javascript" type="text/javascript">
jQuery(document).ready(function($) {
	$("#form-admin").validate();

    $('.date-time').datetimepicker({
        showSecond: true, changeMonth: true, changeYear: true,
        dateFormat: "dd-mm-yy", timeFormat: 'HH:mm:ss'
    });

    $('a.toolbar[task="cancel"]').click(function(){
		$('input').removeClass('required');
		$('input#task').val('cancel');
		$('form.form-admin').submit();
	});

	$('a.remimage').click(function(){
		$(this).remove();
		$('img#itemimage').remove();
		$('input#remimage').val($(this).attr('image'));
	});
	$('a.remsocial').click(function(){
		$(this).remove();
		$('img#itemsocial').remove();
		$('input#remsocial').val($(this).attr('social'));
	});
	$('.meta-limiters').each(function(){
		var title = $(this).attr('fortit');
		$(this).limit('160', $('span#'+title));
	});

    $('button#export').click(function(){
        $('input#task').val('export');
        $('form.form-admin').submit();
    });

    $('button#sendto').click(function(){
        $('input#task').val('sendto');
        $('form.form-admin').submit();
    });
});
</script>
{/literal}

<form action="" method="post" name="frmExtQuotation" id="form-admin" class="form-validate form-admin" enctype="multipart/form-data">
    <input type="hidden" id="only" name="only" value="1"/>
	<input type="hidden" id="task" name="task" value=""/>
	<input type="hidden" id="option" name="option" value="expenses"/>
	<input type="hidden" id="view" name="view" value="form" />
	<input type="hidden" name="hiddenimage" value="{$ObjectData.image}" />
	<input type="hidden" name="hiddensocial" value="{$ObjectData.social}" />
    <div class="row">
        <div class="col-sm-6">
            <fieldset class="adminform">
                <legend><label>{#INFO_ONE_LANGUAGE#}</label></legend>
                <div id="forlanguage">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        {foreach key=key item=items from=$languages}
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading{$items.id}">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{$items.id}" aria-expanded="true" aria-controls="collapse{$items.id}">
                                        {$items.name}
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse{$items.id}" class="panel-collapse collapse {if $key eq 0}in{/if}" role="tabpanel" aria-labelledby="heading{$items.id}">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-3"><p class="detail-title">{#TITLE#}:</p></div>
                                        <div class="col-sm-9"><p class="detail-value">{$ObjectLang[$items.code].name}</p></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3"><p class="detail-title">{#INTROTEXT#}:</p></div>
                                        <div class="col-sm-9"><p class="detail-value">{$ObjectLang[$items.code].introtext}</p></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {/foreach}
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="col-sm-6">
            <fieldset class="adminform">
                <legend><label>{#INFO_ALL_LANGUAGE#}</label></legend>
                <div class="row">
                    <div class="col-sm-4">
                        <p class="detail-title">{#CODE#}:</p>
                        <p class="detail-value">{$ObjectData.code}</p>
                    </div>
                    <div class="col-sm-4">
                        <p class="detail-title">{#DEPARTURE#}:</p>
                        <p class="detail-value">{$ObjectData.departure|date_format:'%d-%m-%Y'}</p>
                    </div>
                    <!--
                    <div class="col-sm-6">
                        <p class="detail-title">{#CONVERSION#}:</p>
                        <p class="detail-value">{$ObjectData.conversion}</p>
                    </div>
                    -->
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="col-sm-6">
                                <p class="detail-title">{#NUMDAY#}:</p>
                                <p class="detail-value">{$ObjectData.numday}</p>
                            </div>
                            <div class="col-sm-6">
                                <p class="detail-title">{#PAXGROUP#}:</p>
                                <p class="detail-value">{$ObjectData.paxrange}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <p class="detail-title">{#PRICEFOR#}:</p>
                        <p class="detail-value">
                            {if $ObjectData.pricefor eq 2}
                                {#PRICEFOR_2#}
                            {elseif $ObjectData.pricefor eq 1}
                                {#PRICEFOR_1#}
                            {else}
                                {#PRICEFOR_0#}
                            {/if}
                        </p>
                    </div>
                    <div class="col-sm-3">
                        <p class="detail-title">{#DISCOUNT#}:</p>
                        <p class="detail-value">{$ObjectData.discount} {$ObjectData.distext}</p>
                    </div>
                    <div class="col-sm-3">
                        <p class="detail-title">{#PUBLISHED#}:</p>
                        <p class="detail-value">
                            {if $ObjectData.published lt 1}{#OPTION_0#}{/if}
                            {if $ObjectData.published eq 1}{#OPTION_1#}{/if}
                            {if $ObjectData.published eq 2}{#OPTION_2#}{/if}
                            {if $ObjectData.published eq 3}{#OPTION_3#}{/if}
                            {if $ObjectData.published eq 4}{#OPTION_4#}{/if}
                        </p>
                    </div>
                    <div class="col-sm-3">
                        <p class="detail-title">{#CREATE_BY#}:</p>
                        <p class="detail-value">{$ObjectData.create_name}</p>
                    </div>
                    <div class="col-sm-12">
                        <p class="detail-title">{#AGENCIES#}:</p>
                        <p class="detail-value">
                            {foreach key=key item=items from=$agencies}
                            {$items.name}{if $key < count($agencies)-1}, {/if}
                            {/foreach}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <span class="btn {if $ObjectData.status lt 1}btn-warning{elseif $ObjectData.status eq 1}btn-success{elseif $ObjectData.status eq 2}btn-primary{/if} dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                {if $ObjectData.status lt 1}{#STATUS_0#}{/if}
                                {if $ObjectData.status eq 1}{#STATUS_1#}{/if}
                                {if $ObjectData.status eq 2}{#STATUS_2#}{/if}
                            </span>
                            <span class="btn {if $ObjectData.money lt 1}btn-danger{elseif $ObjectData.money eq 1}btn-success{/if} dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                {if $ObjectData.money lt 1}{#MONEY_0#}{/if}
                                {if $ObjectData.money eq 1}{#MONEY_1#}{/if}
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <button type="button" id="export" class="btn btn-primary">{#EXPORT_EXCEL#}</button>
                    </div>
                </div>
                <!--
                <button type="button" id="sendto" class="btn btn-primary">{#SEND_AGENCIES#}</button>
                -->
            </fieldset>
        </div>
    </div>
</form>
<br/>
<div>
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#tab-quotation" aria-controls="tab-quotation" role="tab" data-toggle="tab">{#TAB_QUOTATION#}</a></li>
        <li role="presentation"><a href="#tab-payment" aria-controls="tab-payment" role="tab" data-toggle="tab">{#TAB_PAYMENT#}</a></li>
        <li role="presentation"><a href="#tab-log" aria-controls="tab-log" role="tab" data-toggle="tab">{#TAB_WRITE_LOG#}</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="tab-quotation">
            <br/>
            <div id="quotation-list">
                <div class="table-responsive">
                    <table class="table table-striped" style="border-bottom: #DDDDDD 1px solid;">
                        <thead>
                        <tr class="bg-primary">
                            <th>{#DAY#}</th>
                            <th>{#FROM#}</th>
                            <th>{#TO#}</th>
                            <th>{#SERVICE#}</th>
                            <th>{#EXPORT_CODE#}</th>
                            <th>{#EXPORT_INTRO#}</th>
                            <th class="text-center">{#C_PRICE#}</th>
                            <th class="text-center">{#PRICE#}</th>
                            <th class="text-center">{#C_PERPAX#}</th>
                            <th class="text-center">{#PERPAX#}</th>
                            <th class="text-center">{#C_SINGLE#}</th>
                            <th class="text-center">{#SINGLE#}</th>
                            <th class="text-center">{#C_XBED#}</th>
                            <th class="text-center">{#XBED#}</th>
                            <th><span class="glyphicon glyphicon-phone-alt"></span></th>
                            <th><span class="glyphicon glyphicon-usd"></span></th>
                        </tr>
                        </thead>
                        <tbody>
                        {php}$detail = $this->get_template_vars('ObjectData');{/php}
                        {foreach key=key item=journey from=$journeies}
                        <tr>
                            <td><strong>{#DAY#} {$key+1}</strong></td>
                            <td><strong>{$journey.f_name}</strong></td>
                            <td><strong>{$journey.t_name}</strong></td>
                            <td class="show-date" data-date="{$ObjectData.departure|date_format:'%d-%m-%Y'}" data-next="{$key}">&nbsp;</td>
                            <td>&nbsp;</td>
                            <td><strong>{$journey.introtext}</strong></td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        {foreach key=index item=service from=$journey.services}
                        <tr>
                            {php}$service   = $this->get_template_vars('service');{/php}
                            {php}$total     = array('perpax'=>$total['perpax']+$service['perpax']+$service['perpax']*$service['markup']/100, 'single'=>$total['single']+$service['single']+$service['single']*$service['markup']/100, 'extra'=>$total['extra']+$service['extra']+$service['extra']*$service['markup']/100);{/php}
                            {php}$markup    = array('perpax'=>$markup['perpax']+(($service['perpax']*$service['markup'])/100), 'single'=>$markup['single']+(($service['single']*$service['markup'])/100), 'extra'=>$markup['extra']+(($service['extra']*$service['markup'])/100)){/php}
                            {php}
                            if ($service['service'] == 'hotel' && ($service['sing_num'] || $service['doub_num'] || $service['xbed_num'])):
                                $totals = $totals + ($service['perpax']+$service['perpax']*$service['markup']/100)*2*$service['doub_num'];
                                $totals = $totals + ($service['single']+$service['single']*$service['markup']/100)*$service['sing_num'];
                                $totals = $totals + ($service['extra']+$service['extra']*$service['markup']/100)*$service['xbed_num'];

                                $profit = $profit + ($service['perpax']*$service['markup']/100)*2*$service['doub_num'];
                                $profit = $profit + ($service['single']*$service['markup']/100)*$service['sing_num'];
                                $profit = $profit + ($service['extra']*$service['markup']/100)*$service['xbed_num'];
                            else:
                                if ($service['service'] == 'hotel' && $detail['pricefor'] == 2):
                                    $totals = $totals + ($service['perpax']+$service['perpax']*$service['markup']/100)*$detail['paxrange'];
                                    $profit = $profit + ($service['perpax']*$service['markup']/100)*$detail['paxrange'];
                                elseif ($service['service'] == 'hotel' && ($detail['pricefor'] || $detail['paxrange'] == 1)):
                                    $totals = $totals + ($service['perpax']+$service['perpax']*$service['markup']/100)*floor($detail['paxrange']/2)*2 + $service['single']+$service['single']*$service['markup']/100;
                                    $profit = $profit + ($service['perpax']*$service['markup']/100)*floor($detail['paxrange']/2)*2 + $service['single']*$service['markup']/100;
                                else:
                                    $totals = $totals + ($service['perpax']+$service['perpax']*$service['markup']/100)*$detail['paxrange'];
                                    $profit = $profit + ($service['perpax']*$service['markup']/100)*$detail['paxrange'];
                                endif;
                            endif;
                            {/php}
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            {php}$service = Generals::getTitle('EXPORT_SERVICE_'.strtoupper($service['service']));{/php}
                            <td>{php}echo $service; {/php}</td>
                            <td>{$service.detailcode}</td>
                            {assign var=profiles value=$service.profiles}
                            <td><span data-toggle="tooltip" data-placement="top" title=""><strong>{$profiles.name}</strong> - {$service.detailname}</span></td>
                            <td class="text-center prices">{$service.price|number_format:"2"}</td>
                            <td class="text-center prices">{$service.price+$service.price*$service.markup/100|number_format:"2"}</td>
                            <td class="text-center perpax">{$service.perpax|number_format:"2"}</td>
                            <td class="text-center perpax">{$service.perpax+$service.perpax*$service.markup/100|number_format:"2"}</td>
                            <td class="text-center single">{if $service.single gt 0}{$service.single|number_format:"2"}{/if}</td>
                            <td class="text-center single">{if $service.single gt 0}{$service.single+$service.single*$service.markup/100|number_format:"2"}{/if}</td>
                            <td class="text-center extra">{if $service.extra gt 0}{$service.extra|number_format:"2"}{/if}</td>
                            <td class="text-center extra">{if $service.extra gt 0}{$service.extra+$service.extra*$service.markup/100|number_format:"2"}{/if}</td>
                            <td>{if $service.status gt 0}<span class="glyphicon glyphicon-ok"></span>{else}<span class="glyphicon glyphicon-remove"></span>{/if}</td>
                            <td>
                                {if $service.ispaid gt 0}
                                <span class="glyphicon glyphicon-ok-sign text-success" item="{$service.id}" style="font-size: 15px;cursor: pointer;"></span>
                                {else}
                                <span class="setpaid glyphicon glyphicon-remove-sign text-danger" item="{$service.id}" style="font-size: 15px;cursor: pointer;" data-toggle="tooltip" data-placement="left" title="Click me"></span>
                                {/if}
                            </td>
                        </tr>
                        {/foreach}
                        {/foreach}
                        <tr class="bg-warning">
                            <td colspan="6" class="text-right bg-warning"><strong>{#EXPORT_MARKUP#}</strong></td>
                            <td class="bg-warning">&nbsp;</td>
                            <td class="bg-warning">&nbsp;</td>
                            <td class="bg-warning">&nbsp;</td>
                            <td class="text-center perpax bg-warning"><strong>{php}echo number_format($markup['perpax'], 2, '.', ','){/php}</strong></td>
                            <td class="bg-warning">&nbsp;</td>
                            <td class="text-center single bg-warning"><strong>{php}echo number_format($markup['single'], 2, '.', ','){/php}</strong></td>
                            <td class="bg-warning">&nbsp;</td>
                            <td class="text-center extra bg-warning"><strong>{php}echo number_format($markup['extra'], 2, '.', ','){/php}</strong></td>
                            <td class="bg-warning">&nbsp;</td>
                            <td class="bg-warning">&nbsp;</td>
                        </tr>
                        <tr class="bg-danger">
                            <td colspan="6" class="text-right bg-danger"><strong>{#EXPORT_TOTAL#}</strong></td>
                            <td class="bg-danger">&nbsp;</td>
                            <td class="bg-danger">&nbsp;</td>
                            <td class="bg-danger">&nbsp;</td>
                            <td class="text-center perpax bg-danger"><strong>{php}echo number_format($total['perpax'], 2, '.', ','){/php}</strong></td>
                            <td class="bg-danger">&nbsp;</td>
                            <td class="text-center single bg-danger"><strong>{php}echo number_format($total['single'], 2, '.', ','){/php}</strong></td>
                            <td class="bg-danger">&nbsp;</td>
                            <td class="text-center extra bg-danger"><strong>{php}echo number_format($total['extra'], 2, '.', ','){/php}</strong></td>
                            <td class="bg-danger">&nbsp;</td>
                            <td class="bg-danger">&nbsp;</td>
                        </tr>

                        {php}
                        if ($detail['disgenre']):
                            $_total = $totals - $detail['discount'];
                            $profit = $profit - $detail['discount'];
                        else:
                            $_total = $totals - number_format($totals*$detail['discount']/100, 2, '.', ',');
                            $profit = $profit - number_format($profit*$detail['discount']/100, 2, '.', ',');
                        endif;
                        {/php}
                        <tr class="bg-warning">
                            <td colspan="13" class="text-right bg-success"><h4 style="margin: 0 0;">{#EXPORT_DISCOUNT#}:</h4></td>
                            <td colspan="3" class="text-right bg-success"><h4 style="margin: 0 0;">{php}echo !empty($detail['disgenre']) ? number_format($detail['discount'], 2, '.', ',') : number_format($totals*$detail['discount']/100, 2, '.', ','){/php}</h4></td>
                        </tr>
                        <tr class="bg-warning">
                            <td colspan="13" class="text-right bg-primary"><h4 style="margin: 0 0;">{#EXPORT_WITH_DISCOUNT#}:</h4></td>
                            <td colspan="3" class="text-right bg-primary"><h4 style="margin: 0 0;">{php}echo number_format($_total, 2, '.', ','){/php}</h4></td>
                        </tr>

                        {if $ObjectData.guest gt 0}
                        {assign var=person value=$ObjectData.adult+$ObjectData.child}
                        {php}$person = $this->get_template_vars('person');{/php}
                        <tr class="bg-info">
                            <td colspan="6" class="text-right bg-info"><strong>{$ObjectData.guest} {#EXPORT_FOC#}</strong></td>
                            <td class="bg-info">&nbsp;</td>
                            <td class="bg-info">&nbsp;</td>
                            <td class="bg-info">&nbsp;</td>
                            <td class="text-center perpax bg-info"><strong>{php}echo number_format($total['perpax']/$person, 2, '.', ','){/php}</strong></td>
                            <td class="bg-info">&nbsp;</td>
                            <td class="bg-info">&nbsp;</td>
                            <td class="bg-info">&nbsp;</td>
                        </tr>
                        <tr class="bg-success">
                            <td colspan="6" class="text-right bg-success"><strong>{#EXPORT_TOTAL_FOC#}</strong></td>
                            <td class="bg-success">&nbsp;</td>
                            <td class="bg-info">&nbsp;</td>
                            <td class="bg-info">&nbsp;</td>
                            <td class="text-center perpax bg-success"><strong>{php}echo number_format($total['perpax']+$total['perpax']/$person, 2, '.', ','){/php}</strong></td>
                            <td class="bg-success">&nbsp;</td>
                            <td class="bg-success">&nbsp;</td>
                            <td class="bg-success">&nbsp;</td>
                        </tr>
                        {/if}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="tab-payment">
            <br/>
            <div class="row">
                <div class="col-sm-7">
                    <table class="payment-list table table-striped">
                        <thead>
                        <tr>
                            <th>{#PAYMENT_DATE#}</th>
                            <th>{#PAYMENT_PRICE#}</th>
                            <th>{#PAYMENT_TOTAL#}</th>
                            <th>{#PAYMENT_NOTE#}</th>
                            <th class="text-right">#</th>
                        </tr>
                        </thead>
                        <tbody>
                        {foreach item=payment from=$payments}
                        <tr>
                            <td class="bg-danger" colspan="5"><strong>{$payment.title}</strong> - <strong class="text-primary">{#PAYMENT_TOTAL#}: {$payment.total|number_format:"2"}; {#PAYMENT_PAID#}: {$payment.paid|number_format:"2"}; {#PAYMENT_BALANCE#}: {$payment.unpaid|number_format:"2"}</strong></td>
                        </tr>
                        {foreach item=items from=$payment.value}
                        {php}$items = $this->get_template_vars('items');{/php}
                        {php}$service = Generals::getTitle('EXPORT_SERVICE_'.strtoupper($items['service']));{/php}
                        <tr>
                            <td class="bg-warning" colspan="5" style="padding-left: 20px;"><strong>{php}echo $service;{/php}</strong> - {$items.pr_name} - {$items.dt_name} - <strong>{#PAYMENT_TOTAL#}: {$items.total|number_format:"2"}; {#PAYMENT_PAID#}: {$items.paid|number_format:"2"}; {#PAYMENT_BALANCE#}: {$items.unpaid|number_format:"2"}</strong></td>
                        </tr>
                        {foreach item=paid from=$items.payment}
                        <tr>
                            <td style="padding-left: 40px;">{$paid.create_on}</td>
                            <td>{$paid.price|number_format:"2"}</td>
                            <td>{$paid.total|number_format:"2"}</td>
                            <td>{$paid.introtext}</td>
                            <td class="text-right"><a class="remove glyphicon glyphicon-remove-sign text-danger" href="javascript:;" pid="{$paid.id}"></a></td>
                        </tr>
                        {/foreach}
                        {/foreach}
                        {/foreach}
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-5">
                    <div class="payment-form">
                        <div class="payment-item">
                            <form class="form-validate">
                                <div class="form-group">
                                    <select class="service form-control required">
                                        {foreach item=payment from=$payments}
                                        <optgroup label="{$payment.title} [{#PAYMENT_TOTAL#}: {$payment.total|number_format:'2'}; {#PAYMENT_BALANCE#}: ${$payment.unpaid|number_format:'2'}]">
                                            {foreach item=items from=$payment.value}
                                            {php}$items = $this->get_template_vars('items');{/php}
                                            {php}$service = Generals::getTitle('EXPORT_SERVICE_'.strtoupper($items['service']));{/php}
                                            <option value="{$items.detail}" total="{$items.total}" profit="0" service="{$items.service}">{php}echo $service;{/php} - {$items.pr_name} - {$items.dt_name} - Total: ${$items.total} - Balance: ${$items.total-$items.paid}</option>
                                            {/foreach}
                                        </optgroup>
                                        {/foreach}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6"><input type="text" class="price form-control required number" placeholder="{#PAYMENT_PRICE#}"></div>
                                        <div class="col-sm-6">
                                            <select class="payment form-control required" data-placeholder="">
                                                {foreach item=items from=$paytypes}
                                                <option value="{$items.id}">{$items.code} - {$items.name}</option>
                                                {/foreach}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6"><input type="text" class="billno form-control required number" placeholder="{#PAYMENT_BILLNO#}"></div>
                                        <div class="col-sm-4">
                                            <button type="button" class="apply btn btn-default"><span class="glyphicon glyphicon-ok"></span> {#PAYMENT_SAVE#}</button>
                                            <!--
                                            <button type="button" class="delete btn btn-default"><span class="glyphicon glyphicon-remove"></span> {#PAYMENT_DEL#}</button>
                                            -->
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <textarea class="introtext form-control" placeholder="{#PAYMENT_NOTE#}"></textarea>
                                </div>
                                <hr/>
                            </form>
                        </div>
                    </div>

                    <div class="payment-sample" style="display: none;">
                        <form class="form-validate">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6"><input type="text" class="price form-control required number" placeholder="{#PAYMENT_PRICE#}"></div>
                                    <div class="col-sm-6">
                                        <select class="payment form-control required" data-placeholder="">
                                            {foreach item=items from=$paytypes}
                                            <option value="{$items.id}">{$items.code} - {$items.name}</option>
                                            {/foreach}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6"><input type="text" class="billno form-control required number" placeholder="{#PAYMENT_BILLNO#}"></div>
                                    <div class="col-sm-6">
                                        <button type="button" class="apply btn btn-default"><span class="glyphicon glyphicon-ok"></span> {#PAYMENT_SAVE#}</button>
                                        <button type="button" class="delete btn btn-default"><span class="glyphicon glyphicon-remove"></span> {#PAYMENT_DEL#}</button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <textarea class="introtext form-control" placeholder="{#PAYMENT_NOTE#}"></textarea>
                            </div>
                            <hr/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="tab-log">
            <table class="table table-striped">
                {foreach item=items from=$changelogs}
                <tr>
                    <td>
                        <h4>{$items.title} - <small>{$items.shorttext}</small></h4>
                        <h5>{$items.user_name} - <small>{$items.create_on}</small></h5>
                        <div style="text-transform: capitalize;">{$items.introtext}</div>
                    </td>
                </tr>
                {/foreach}
            </table>
        </div>
    </div>
</div>
{literal}
<style type="text/css">
    .payment-item .chosen-container{width: 100% !important;}
</style>
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $('[data-toggle="tooltip"]').tooltip();
        delForm();
        setPayment();
        delPayment();

        function delForm(){
            $('.payment-form .delete').unbind('click').click(function(){
                $(this).parents('.payment-item').remove();
            });
        }

        function delPayment(){
            $('.payment-list a.remove').unbind('click').click(function(){
                $.ajax({
                    type: "POST",
                    url: 'index.php?option=expenses&view=callajax&task=setPaymentPart&ajax=1',
                    data: {
                        genre: 'remove', pid: $(this).attr('pid'),
                        qid: '{/literal}{$ObjectData.id}{literal}'
                    },
                    dataType: 'json',
                    success: function(result){
                        $('.payment-list tbody').html(result.html);
                        $('#tab-log').html(result.logs);
                        $('.service').html(result.select);
                        $('.service').trigger("chosen:updated");
                        delPayment();
                    }
                });
            });
        }

        function setPayment(){
            $('.payment-form .apply').unbind('click').click(function(){
                var parent = $(this).parents('.payment-item');
                if (parent.find("form").valid()){
                    $.ajax({
                        type: "POST",
                        url: 'index.php?option=expenses&view=callajax&task=setPaymentPart&ajax=1',
                        data: {
                            genre: 'addnew', qid: '{/literal}{$ObjectData.id}{literal}', price: parent.find('.price').val(), payment: parent.find('.payment').val(),
                            introtext: parent.find('.introtext').val(), detail: parent.find('.service').val(), service: parent.find('.service option:selected').attr('service'),
                            total: parent.find('.service option:selected').attr('total'), profit: parent.find('.service option:selected').attr('profit'), billno: parent.find('.billno').val()
                        },
                        dataType: 'json',
                        success: function(result){
                            $('.payment-list tbody').html(result.html);
                            $('#tab-log').html(result.logs);
                            parent.find('.service').html(result.select);
                            parent.find('.service').trigger("chosen:updated");
                            parent.find('.price').val('');
                            parent.find('.introtext').val('');
                            delPayment();
                            delPayment();
                        }
                    });
                }
            });
        }

        $('button#additem').click(function(){
            $('.payment-form').prepend('<div class="payment-item">'+$('.payment-sample').html()+'</div>');
            delForm();
            setPayment();
        });

        $('span.setpaid').click(function(){
            var obj = $(this);
            $.ajax({
                type: "POST",
                url: 'index.php?option=expenses&view=callajax&task=setPaidService&ajax=1',
                data: { sid: obj.attr('item'), val: (obj.hasClass('glyphicon-ok-sign') ? 0 : 1)},
                dataType: 'html',
                success: function(result){
                    if (obj.hasClass('glyphicon-ok-sign')){
                        obj.addClass('glyphicon-remove-sign text-danger').removeClass('glyphicon-ok-sign text-success');
                    } else {
                        obj.removeClass('glyphicon-remove-sign text-danger').addClass('glyphicon-ok-sign text-success').removeClass('setpaid').unbind('click').attr('title', '');
                    }
                    obj.parents('tr').addClass('updated');
                }
            });
        });

        $.ajax({
            type: "POST",
            url: 'index.php?option=expenses&view=callajax&task=setTotalMarkup&ajax=1',
            data: { id: '{/literal}{$ObjectData.id}{literal}', total: '{/literal}{php}echo number_format($_total, 2, ".", ""){/php}{literal}', profit: '{/literal}{php}echo number_format($profit, 2, ".", ""){/php}{literal}'},
            dataType: 'html',
            success: function(result){

            }
        });

        $('td.show-date').each(function(){
            var date = getNextToDay($(this).data('date'), $(this).data('next'));
            $(this).html('<strong>'+date+'</strong>');
        });
    });

    function getNextToDay(start, step){
        var d = new Date();
        var p = start.split('-');
        d.setFullYear(p[2], p[1]-1, p[0]); // year, month (0-based), day
        var e = new Date(d.getTime() + (parseInt(step)*86400000));
        return (e.getDate() > 9 ? e.getDate() : '0'+e.getDate()) + "-" + ((e.getMonth()+1) > 9 ? e.getMonth()+1 : '0'+ (e.getMonth()+1)) + '-' + e.getFullYear();
    }
</script>
{/literal}